* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --clr-white: #feffff;
    --clr-gray: #d5ebea;
    --clr-dgray: #233941;
    --clr-dark: #051216;
    --clr-accent1: #3aafa9;
    --clr-daccent1: #195463;
    --clr-accent2: #fbbf24;
    --clr-shadow: rgba(18, 48, 168, 0.294);
}

body {
    background-color: var(--clr-dgray);
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-container {
    background-color: var(--clr-gray);
    padding: 20px;
    border-radius: 5px;
}

button {
    font-size: 1.3rem;
    padding: .3rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--clr-accent2);
}

button:active {
    filter: brightness(0.9);
}

table.book-table {
    min-width: 300px;
    text-align: center;
    border-collapse: collapse;
}

table.book-table th,
table.book-table td {
padding: 5px;
}


table.book-table tr {
    border-radius: 5px;
}

table.book-table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.toggle-btn,
.delete-btn {
    font-size: inherit;
    padding: .1rem .5rem;
}
.toggle-btn {
    width: 100%;
}

.read {
    background-color: rgb(89, 255, 47);
}

.delete-btn {
    background-color: rgb(243, 76, 76);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-gray);
    border-radius: 10px;
    margin:10px;
    width: min(90%, 500px);
}   

.modal::backdrop {
    backdrop-filter: blur(3px) saturate(.3);
}


.modal form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.form-row, .form-row2, .form-row3 {
    display: grid;
    gap: 10px;
}

.form-row {
    grid-template-columns: 70px 1fr;
}
.form-row2 {
    grid-template-columns: 70px 2fr max-content;
}
.form-row3 {
    grid-template-columns: 1fr 1fr;
}

input[type="text"],
input[type="number"] {
    min-width: 10px;
    padding: .2rem .5rem;
}

input[type="checkbox"] {
    margin-left: 10px;
}

.modal label {
    justify-self: end
}
