* , *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --clr-white: #feffff;
    --clr-gray: #def2F1;
    --clr-dgray: #233941;
    --clr-dark: #051216;
    --clr-accent1: #3aafa9;
    --clr-daccent1: #195463;
    --clr-accent2: #fbbf24;
    --clr-shadow: rgba(18, 48, 168, 0.294);
}

body {
    background-color: var(--clr-dgray);
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-container {
    background-color: var(--clr-gray);
    padding: 20px;
    border-radius: 5px;
}

button {
    font-size: 1.3rem;
    padding: .3rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-accent2);
}

button:active {
    filter: brightness(0.9);
}


table.book-table tr {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-items: start;
    padding: .2rem .5rem;
}

table.book-table tbody>tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
}

.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--clr-gray);
    border-radius: 10px;
}

.modal::backdrop {
    backdrop-filter: blur(3px) saturate(.3);
}

.modal form {
    background-color: red;
    border: none;
}